{% extends 'base.html.twig' %}

{% block title %}All Surface - Accueil{% endblock %}

{% block body %}
    {# message if a service has been issued #}
    {% if app.flashes('subscription_done') is defined %}
        {% for subscription_done_message in app.flashes('subscription_done') %}
            <p>
                {{ subscription_done_message }}
            </p>
        {% endfor %}
    {% endif %}

    <header>
        <h1>Accueil</h1>
    </header>


    <section>
        <h1>Services</h1>

        <div>
            {% for service in services %}
                <p>
                    <img src="{{ service.servicePic }}" alt="all_surfaces_{{ service.serviceName }}" width="200px">
                </p>

                <p>
                    {{ service.serviceName }}
                </p>

                <p>
                    <a href="{{ path('service', {'serviceName' : service.serviceName}) }}">Voir les details du service</a>
                </p>
            {% endfor %}
        </div>
    </section>


    <footer>
        <p>
            <a href="{{ path('backstage') }}">backstage</a>
        </p>
    </footer>
{% endblock %}